


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.header-continar img{
    width: 60px;
    height: 60px;

}
.header-continar .nav-header{
    height: 40px;
    width: 94.7%;
    background-color: #222;
    float: right;
    margin-top: 0%;
    padding: 10px;
   
}
.header-continar .nav-header a{
    padding: 40px;
    margin-left: 12%;
    text-decoration: none;
    color: #fff;  
   
 
 
}

.header-continar .nav-header :hover{
  color:cadetblue;



   
}

#empSec{
    display: inline-flex;
    
}



.footer{
   
    /* text-align: center; 
   display: flex;
   align-items: center;
   justify-content: center; */
   background-color: #222;
   color:rgb(253, 235, 247);
   /* margin-top: 10%; */
   /* margin-bottom:5% ; */
   text-align: center; 
   position: fixed;
   padding: 10px 10px 0px 10px;
   bottom: 0;
   width: 100%;
   /* Height of the footer*/ 
   height: 40px;
   /* background: grey; */
   font-family: 'Montserrat', sans-serif;
   
} 
